@model Model.Dtos.UserRegisterModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Mobile, "手机号码：")
    @Html.EditorFor(m => m.Mobile)
    @Html.ValidationMessageFor(m => m.Mobile)
    <hr />
    @Html.LabelFor(m => m.Password, "密码：")
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <hr />
    @Html.LabelFor(m => m.Contact, "姓名：")
    @Html.EditorFor(m => m.Contact)
    @Html.ValidationMessageFor(m => m.Contact)
    <hr />
    @Html.LabelFor(m => m.CompanyName, "公司名称：")
    @Html.EditorFor(m => m.CompanyName)
    @Html.ValidationMessageFor(m => m.CompanyName)
    <hr />
    @Html.LabelFor(m => m.MobileMessage, "手机验证码：")
    @Html.EditorFor(m => m.MobileMessage)
    @Html.ValidationMessageFor(m => m.MobileMessage)
    @Html.ValidationMessage("MobileMessage")
    <hr />
        @Html.LabelFor(m => m.VertifyCode, "验证码")
        @Html.EditorFor(m => m.VertifyCode)
        <img src="@Url.Action("GetValidatorGraphics", "Account", new {date = DateTime.Now})" />
        @Html.ValidationMessageFor(m => m.VertifyCode)
        <input type="button" value="发送手机验证码" id="sendMsg"/>
        <hr />
        <input type="submit" value="提交" />
}

@section scripts{
    <script type="text/javascript">
        $(function() {
            $("#sendMsg").click(function() {
                $.get("/Account/SendMobileMsg",
                    { mobile: $("#Mobile").val(), vertifyCode: $("#VertifyCode").val() },
                    function (result) {
                        var data = eval("(" + result + ")");
                        if (data.IsSuccess == false) {
                            alert(data.ErrorMsg);
                        }
                    });
            });
        });
    </script>
}